<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Activity-Mapper">

	<select id="selectActivityListCon" resultType="activity">
	/*Activity-Mapper.selectActivityListCon*/
       select distinct a.con_no as con_no, 
              a.ind_id as ind_id, 
              a.act_status as act_status, 
              a.act_prize as act_prize, 
              a.act_no as act_no,
              a.act_date as act_date,
              c.con_sdate as con_sdate,
              c.con_edate as con_edate,
              a.act_score as act_score, 
              c.con_title as con_title, 
              c.con_field as con_field,
              t.co_nm as co_nm
         from activity a, contest c, co_member t
        where a.con_no=c.con_no
          and c.co_id = t.co_id
          and a.ind_id= #{indId}
          and a.con_no is not null
	</select>
	
	<select id="selectActivityListMen" resultType="activity">
	/*Activity-Mapper.selectActivityListMen*/
		select a.*, b.*
         from activity a, mentoring b
        where a.men_no=b.men_no
          and ind_id=#{indId}
          and a.men_no is not null
	</select>
	
	<select id="selectActivityMentoringList" resultType="activity">
	/*Activity-Mapper.selectActivityMentoringList*/
	   select distinct a.men_no as men_no, 
              a.ind_id as ind_id, 
              a.act_status as act_status, 
              a.act_prize as act_prize, 
              a.act_no as act_no,
              a.act_date as act_date,
              m.men_sdate as men_sdate,
              m.men_edate as men_edate,
              a.act_score as act_score, 
              m.men_title as men_title,
              m.MEN_PROGRESS as men_progress,
              c.co_nm as co_nm
         from activity a, mentoring m, co_member c
        where a.men_no=m.men_no
          and m.co_id = c.co_id
          and a.ind_id= #{indId}
          and a.men_no is not null
	</select>
	
	<select id="selectActivityListByConNo" resultType="activity">
	/*Activity-Mapper.selectActivityListByConNo*/
	   select a.*, b.name, c.con_title
		 from activity a, member b, contest c
		where a.ind_id = b.id
          and a.con_no = c.con_no
          and a.con_no = #{conNo}
	</select>
	
	<select id="selectActivityListByMenNo" resultType="activity">
	/*Activity-Mapper.selectActivityListByMenNo*/
		select a.*, b.name, c.men_title
          from activity a, member b, mentoring c
         where a.ind_id = b.id
           and a.men_no = c.men_no
           and a.men_no = #{menNo}
	</select>
	
	<select id="selectActivityListCount" resultType="int">
	/* Activity-Mapper.selectActivityListCount */
		select
		count(*)
		from
		activity
		where act_no is not null
		order by act_date desc
	</select>
	
	<select id="selectActivityConByActNo" resultType="activity">
	/* Activity-Mapper.selectActivityConByActNo */
		select a.*, b.con_sdate, b.con_Edate, b.con_title, b.con_field
 		  from activity a, contest b
		 where a.con_no = b.con_no
           and a.act_no = #{actNo}
	</select>
	
	<select id="selectActivityMenByActNo" resultType="activity">
	/* Activity-Mapper.selectActivityMenByActNo */
		select a.*, b.men_Sdate, b.men_Edate, b.men_title, round(100/(b.men_edate-b.men_sdate))*(trunc(sysdate)-b.men_sdate) as men_progress
 		  from activity a, mentoring b
 		 where a.men_no = b.men_no
    	   and a.act_no = #{actNo}
	</select>
	
	<select id="selectAllActivityById" resultType="activity">
	/* Activity-Mapper.selectAllActivityById */
		select a.*, c.*, m.*
		  from mentoring m, contest c, activity a
		 where a.con_no = c.con_no
           and a.men_no = m.men_no 
           and ind_id = #{id}
	</select>
	<select id="selectAllContestById" resultType="activity">
	/*Activity-Mapper.selectAllContestById*/
		select *
		  from activity a, contest c
         where a.con_no = c.con_no
           and a.ind_id = #{id} and a.men_no is null and a.con_no is not null
	</select>
	
	<insert id="insertActivityContest" parameterType="activity">
		insert
		into
		activity
			(act_no
			,ind_id
			,con_no
			,act_tel
			,act_email
			,act_date)
		values
			(#{actNo}
			,#{indId}
			,#{conNo}
			,#{actTel}
			,#{actEmail}
			,sysdate)
	</insert>
	
	<insert id="insertActivityMentoring" parameterType="activity">
		insert
		into
		activity
			(act_no
			,ind_id
			,men_no
			,act_tel
			,act_email
			,act_date)
		values
			(#{actNo}
			,#{indId}
			,#{menNo}
			,#{actTel}
			,#{actEmail}
			,sysdate)
	</insert>
	
	<update id="updateActivity" parameterType="activity">
		update
			activity
		set
			 act_tel = #{actTel}
			,act_email = #{actEmail}
			,act_status = #{actStatus}
			,act_udate = sysdate
		where
			act_no = #{actNo}
	</update>
	
	<update id="updateActivityCom" parameterType="activity">
		update
			activity
		set
			 ACT_PRIZE = #{actPrize}
			,ACT_SCORE = #{actScore}
		where
			act_no = #{actNo}
	</update>
	
	
	<delete id="deleteActivity" parameterType="int">
		delete
		from
			activity
		where
			act_no = #{actNo}
	</delete>
	
	<select id="selectActivitySeqNext" resultType="int">
		select
			ACTIVITY_SEQ.nextval as act_no
		from 
			dual
	</select>
	
</mapper>
