<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Bookmark-Mapper">

	<sql id="bookmarkTypeCheck">
		<if test="bookType == 0">
			and rec_wantedno=#{recWantedno}
		</if> 
		<if test="bookType == 1">
			and co_name=#{coName}
		</if> 
		<if test="bookType == 2">
			and tal_id=#{talId}
		</if> 
	</sql>
	
	<select id="selectBookmarkByRecno" parameterType="str" resultType="bookmark">
		select 
			    a.book_no as "bookNo",
			    a.rec_wantedno as "recWantedno",
			    a.co_name as "coName",
			    a.book_type as "bookType",
			    b.rec_wantedtitle as "recWantedtitle",
			    d.name as "name"
		   from bookmark a, recruit b, ind_member c, member d
		  where a.rec_wantedno = b.rec_wantedno(+)
			and a.id = c.ind_id(+)
			and c.ind_id = d.id(+)
			and a.REC_WANTEDNO =#{recWantedno}
	</select>


	<select id="selectBookmarkById" parameterType="str" resultType="bookmark">
		 select a.book_no as "bookNo",
        		a.rec_wantedno as "recWantedno",
        		a.co_name as "coName",
        		a.book_type as "bookType",
        		c.co_name as "recCoName",
        		c.rec_wantedtitle as "recWantedtitle",
        		b.co_logo as "coLogo"
   		   from bookmark a, corporation b, recruit c
  		  where a.co_name = b.co_name(+)
    		and a.rec_wantedno = c.rec_wantedno(+)
    		and a.id = #{id}
	</select>
	
	<select id="selectBookmarkForCoUser" parameterType="str" resultType="member">
		select bookmark.*,
                   ind.*
              from (select *
                      from bookmark
                     where book_type=2
                       and id=#{id}) bookmark, (select a.name, b.*, c.edu_dep
                                                     from member a, ind_member b, education c
                                                    where a.id = b.ind_id and a.id = c.ind_id) ind                                              
              where bookmark.tal_id = ind.ind_id
	</select>
	
	<select id="selectBookNoForRemove" parameterType="bookmark" resultType="int">
		select book_no
  		  from bookmark
 		 where id=#{id}
   	       and book_type=#{bookType}
   	       <include refid="bookmarkTypeCheck" />
	</select>
	
	<select id="selectCountForIndBookmark" parameterType="bookmark" resultType="int">
		select count(book_no)
  		  from bookmark
 		 where id=#{id}
 		   and book_type=#{bookType}
 		   <include refid="bookmarkTypeCheck" />
	</select>
	
	<select id="selectBookmarkByRecruitNO" parameterType="str" resultType="int">
		select book_no
		  from bookmark
		 where rec_wantedno = #{recWantedno}
 	</select>
	
	<update id="insertRecBookmark" parameterType="bookmark">
		insert into bookmark (book_no, id, tal_id, rec_wantedno, book_type, co_name)
		              values (bookmark_seq.nextval, #{id}, #{talId}, #{recWantedno}, #{bookType}, #{coName})
	</update>
	
	<update id="deleteBookmark" parameterType="int">
		delete from bookmark
		 where book_no=#{bookNo}
	</update>
	
</mapper>