<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Corporation-Mapper">

	<select id="selectLogoList" parameterType="str" resultType="corporation">
		select co_name
  		  from corporation
	</select>
	
	<select id="selectCoInfoByName" parameterType="str" resultType="corporation">
		select *
		from corporation
		where co_name = #{coName}
	</select>
</mapper>