<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Document-Mapper">

	<select id="selectDocumentListByIndId" parameterType="str" resultType="document">
		select *
		  from document
		 where ind_id=#{indId}
	</select>
	
	<select id="selectDocumentByDocNo" parameterType="str" resultType="document">
	</select>
	
	<update id="insertDocument" parameterType="hashMap">
	</update>
	
	<update id="updateDocument" parameterType="hashMap">
	</update>
	
	<delete id="deleteDocument" parameterType="str">
	</delete>
	
</mapper>