<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mentoring-Mapper">
	<select id="selectMentoringList" resultType="mentoring">
	/* Mentoring-Mapper.selectMentoringList */
	 	select  a.*, b.uploadpath, b.filename, b.filetype
         , (select count(1) from activity b where a.men_no = b.men_no) as IND_COUNT
		  from 
		  	mentoring a
          left join (select * from file_attach
                     where work_div='Mentoring') b
          on(a.men_no = b.work_pk)
         order by a.men_sdate desc
	</select> 
	
	<select id="selectMentoringListCount" resultType="int">
	/* Mentoring-Mapper.selectMentoringListCount */
		select    
           a.*
         , (select count(1) from activity b where a.men_no = b.men_no) as IND_COUNT
		  from 
		  	mentoring a
          where 
            men_no is not null
         order by men_sdate desc
	</select>
	
	<!-- -->
	<select id="selectMentoringByCoId" resultType="mentoring">
	/* Mentoring-Mapper.selectMentoringByCoId */
         select 
              a.men_no         /* 멘토링번호 */
            , a.men_title      /* 멘토링제목 */
            , a.men_sdate      /* 멘토링시작일자 */
            , a.men_edate      /*멘토링종료일자*/
            , a.men_date       /*멘토링게시물작성일자*/
            , a.men_progress   /*멘토링진행률*/
            , a.num_people     /*지원가능인원*/
         , (select count(1) from activity b where a.men_no = b.men_no) as IND_COUNT
		  from 
		  	mentoring a
		 where 
		 	a.co_id = #{coId}
	</select>
	
	<select id="selectMentoringByMenNo" resultType="mentoring">
	/* Mentoring-Mapper.selectMentoringByMenNo */
		select a.*, b.uploadpath, b.filename, b.filetype
    		  , (select count(1) from activity b where a.men_no = b.men_no) as ind_count /*참여자수 제한을위한  count*/
		  from mentoring a
        left join (select * from file_attach
                     where work_div='Mentoring') b
          on(a.men_no = b.work_pk)
		 where men_no = #{menNo}
	</select>
	
	<insert id="insertAllMentoring" parameterType="mentoring">
	/* Mentoring-Mapper.insertAllMentoring */
		insert
		into
		mentoring
			(MEN_NO
			, CO_ID
			, MEN_TITLE
			, MEN_CONTENT
			, MEN_SDATE
			, MEN_SDATE
			, NUM_PEOPLE
			, MEN_PROGRESS
			, MEN_DATE)
		values
			(#{menNo}
			, #{coId}
			, ${menTitle}
			, #{menContent}
			, #{menSdate}
			, #{menEdate}
			, #{numPeople}
			, #{menProgress}
			, sysdate)
	</insert>
	
	<insert id="insertMentoring" parameterType="mentoring">
		/* Mentoring-Mapper.insertMentoring */
			insert
			into
			mentoring
				(MEN_NO
				, CO_ID
				, MEN_TITLE
				, MEN_CONTENT
				, MEN_SDATE
				, MEN_EDATE
				, NUM_PEOPLE
				, MEN_DATE)
			values
				(#{menNo}
				, #{coId}
				, #{menTitle}
				, #{menContent}
				, #{menSdate}
				, #{menEdate}
				, #{numPeople}
				, sysdate)
	</insert>
	
	<update id="updateMentoring"  parameterType="mentoring">
	/* Mentoring-Mapper.updateMentoring */
		update
			mentoring
		set
			MEN_TITLE=#{menTitle}
		  , MEN_CONTENT=#{menContent}
		  , MEN_SDATE=#{menSdate}
		  , MEN_EDATE=#{menEdate}
		  , NUM_PEOPLE=#{numPeople}
		where 
			men_no= #{menNo}
	</update>
	
	<update id="updateMentoringComem" parameterType="mentoring">
	/* Mentoring-Mapper.updateMentoringComem */
		update
			mentoring
		set
			MEN_PROGRESS=#{menProgress}
		where 
			men_no=#{menNo}
		</update>
		
	<delete id="deleteMentoring" parameterType="int">
	/* Mentoring-Mapper.deleteMentoring */
		delete
		from
			mentoring
		where 
			men_no = #{menNo}
	</delete>
	
	<select id="selectMentoringSeqNext" resultType="int">
	/* Mentoring-Mapper.selectMentoringSeqNext */
		select
			MENTORING_SEQ.nextval as men_no
		from 
			dual
	</select>
</mapper>
