<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="OpenRec-Mapper">
	<sql id="search">
		<if test="searchType == 's'.toString()">
			order by open_sdate desc
		</if>
		<if test="searchType == 'c'.toString()">
			order by open_edate desc
		</if>
		<if test="searchType == null">
			order by open_edate desc
		</if>
	</sql>
	
	<select id = "selectOpenRecListForMain" resultType="openRec">
		select open_sdate,
       		   open_title,
       		   open_edate
  		  from open_rec
 		 <include refid="search"/>
	</select>
	
	<select id = "selectOpenRecList" resultType="openRec">
		select a.*,
               b.co_name as co_bookmark
          from open_rec a, 
                          (select co_name
                             from bookmark
                            where id=#{id}) b
         where a.open_conm = b.co_name (+)
         <include refid="search"/>
	</select>
	
	<select id = "selectSearchOpenRecList" resultType="openRec">
		select a.*,
               b.co_name as co_bookmark
          from open_rec a, 
                          (select co_name
                             from bookmark
                            where id=#{id}) b
         where a.open_conm = b.co_name (+)
		 order by to_date(a.open_edate) desc
	</select>
	
	<select id="selectOpenRecListByScroll" parameterType="hashMap" resultType="openRec">
		select *
          from (select rownum as idx, a.* from (select open_rec.* from open_rec order by open_sdate desc) a)
         where idx between #{startNum} and #{endNum}
	</select>
	
	<select id="selectOpenRecListCount" resultType = "int">
		select count(*)
		from open_rec
		where open_seqno is not null
	</select>
	
	<select id="selectOpenRecListByConm" parameterType="str" resultType="openRec">
		select *
		from open_rec
		where open_conm = #{open_conm}
	</select>
	
	<select id="selectOpenRecListbyNo" parameterType="int" resultType="openRec">
		select * 
		from open_rec
		where open_seqno = #{open_seqno}
	</select>
	
	<select id="selectOpenRecListbyDetail" parameterType="openRec" resultType="openRec">
		select a.*,
             b.co_name as co_bookmark
		from open_rec a, (select co_name
                            from bookmark
                           where id=#{id}) b
       where a.open_conm = b.co_name (+)
         and a.open_seqno = #{openSeqno}
	</select>
	
	<select id="selectOpenApplicants" parameterType="int" resultType="str">
		select a.ind_id
		from supply_rec a
		where a.open_seqno = #{open_seqno}
	</select>
	
	<insert id="insertOpenRec" parameterType="openRec">
		<selectKey resultType="int" keyProperty="openSeqno" order="BEFORE">
			select max(open_seqno)+1 from open_Rec
		</selectKey>
		insert into open_Rec values(#{openSeqno}, #{openCOCL}, #{openType}, #{openCar}, #{openJobscd},
		                           #{openTitle}, to_char(sysdate, 'YY/MM/DD'), #{openEdate}, #{openAcptpsn}, #{openContent},
		                           #{openRegion}, #{openCarnm}, #{openEdunm}, #{openCnt}, #{openConm},
		                           #{openHomepg}, #{openLogo}, #{openEdu})
	</insert>
	
	<update id="modifyOpenRec" parameterType="openRec">
		update open_rec
		set open_title = #{openTitle},
		    open_jobscd = #{openJobscd},
		    open_cocl = #{openCOCL},
		    open_type = #{openType},
		    open_car  = #{openCar},
		    open_edu  = #{openEdu},
		    open_Edate= #{openEdate},
		    open_carnm= #{openCarnm},
		    open_edunm= #{openEdunm},
		    open_content= #{openContent},
		    open_cnt = #{openCnt},
		    open_acptpsn = #{openAcptpsn}
		where open_seqno = #{openSeqno}    
	</update>
	
	<delete id="deleteOpenRec" parameterType="int">
		delete from open_rec
		where open_rec.open_seqno = #{openSeqno}
	</delete>
</mapper>